//
   Created with JetBrains WebStorm.
   User: dave
   Date: 27/05/13
   Time: 5:24 PM
   To change this template use File | Settings | File Templates.

head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src='/bootstrap/js/jquery-2.0.1.js')