//
   Created with JetBrains WebStorm.
   User: dave
   Date: 5/06/13
   Time: 4:51 PM
   To change this template use File | Settings | File Templates.

extends layout

block content

    div.span6.hero-unit
        h4 Please enter the details of a new post
        form(method="post")
            .span2 Heading:
            input(type="text", name="heading", required)
            .span2 Body:
            input(type="text", name="body", required)
            .span2 Image (url):
            input(type="url", name="image", required)
            .span2 Author:
            input(type="text", name="author" , required)



            div.row
                div.span1
                div.span2
                    input.btn.btn-action(type="reset", value='Reset')
                dive.span2
                    input.btn.btn-action(type="submit", value='Add')




