extends layout

block title
  h1= title
  //p Welcome to #{title}

  script.
    $(document).ready(function() {
      $(".active").removeClass("active");
      $("##{tab}").addClass("active");
    });