//
   Created with JetBrains WebStorm.
   User: dave
   Date: 11/06/13
   Time: 5:33 PM
   To change this template use File | Settings | File Templates.

extends layout

block content

    div.span6.hero-unit
        h4 Please update the details of a post
        //NOTE: The _id of the row is still included in the URL as .../update/:_id
        form(method="post")
            .span2 Heading:
            input(type="text", name="heading", value="#{row.heading}", required)
            .span2 Body:
            input(type="text", name="body", value="#{row.body}", required)
            .span2 Image (url):
            input(type="url", name="image", value="#{row.image}", required)
            .span2 Author:
            input(type="text", name="author", value="#{row.author}", required)


            div.row
                div.span1
                div.span2
                    input.btn.btn-action(type="reset", value='Reset')
                div.span2
                    input.btn.btn-action(type="submit", value='Update')